@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$gutter: 0em;
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 1265px;
  height: 66px;
  box-sizing: border-box;

}

.inner-header {
  width: 980px;
  margin-top: 0;
  margin: 0 auto;
  display: block;
  align-top: middle;
  box-sizing: border-box;
  vertical-align: middle;
}

.search-query {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.etsy-logo-container {
  width: 70px;
  display: inline-block;
}

.etsy-logo {
  color: #F45800;
  font-family: Arial, sans-serif;
  font-weight: 200;
  line-height: 1.4;
  vertical-align: middle;
}

.search-button {
  height: 34px;
  width: 78.7px;
  background-color: #5DA8D2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 7px 15px 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  left-margin: 0;
  vertical-align: middle;
}

.browse-button {
  height: 34px;
  width: 78.7px;
  border-radius: 5px;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  padding: 7px 15px 8px;
  left-margin: 20px;
  display: inline-block;
  position: relative;
}
.search-bar {
  width: 251px;
  height: 28px;
  display: inline-block;
}

.three-right-buttons {
  position: relative;
  width: 180px;
  left: 290px;
  display: inline-block;
}

.register-button {
  height: 34px;
  width: 70.1px;
  border-radius: 5px;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  left-margin: 20px;
  border: 0;
  background-color: white;
  font-size: 14px;
}

.sign-in-button {
  height: 34px;
  width: 70.1px;
  border-radius: 5px;
  line-height: 17px;
  font-family: Arial, Helvetica, Sans-serif;
  left-margin: 20px;
  border: 0;
  background-color: white;
  font-size: 14px;
  border: 2px solid #1692b3;
}

.category-bar {
  height: 321px;
  width: 100%;
  background-color: #ebebe6;
  box-sizing: border-box;
}

.whiskey-by-category {
  margin: 0 auto;
  width: 980px;
  box-sizing: border-box;
  padding-top: 0;
}



.Category {
  @include span-columns(3);
  height: 192px;
  width: 185.6px;
  @include omega(4n);
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid black;
}

h2 {
  height: 52px;
  line-weight: 200;
  padding-bottom: 18px;
  padding-top: 36px;
  box-sizing: border-box;
}

.main-body {
  width: 980px;
  margin: 0 auto;
}

.side-navs {
  width: 245px;
  height: 1153px;
  float: left;
  position: relative;
  border: 2px solid black;
}

.top-nav {
  height: 408px;
}

.search-results {
  width: 720px;
  float: right;
}

.whiskey {
  @include span-columns(3);
  height: 219px;
  width: 225.6px;
  @include omega(4n);
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid black;
  margin: 5px;
